<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Establecimientos</title>
</head>
<body>
    <script language="JavaScript">
        function aviso(url,id){
            if (!confirm("ALERTA!! va a proceder a eliminar este registro, si desea eliminarlo de click en ACEPTAR\n de lo contrario de click en CANCELAR.")) {
                return false;
            }
            else {
                document.location = url;
                return true;
            }
        }
    </script>
    <div class="container">
        <div class="page-header" id="banner">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6">
                    <h1 text="Establecimientos">Establecimientos</h1>
                    <p class="lead">Lista de establecimientos</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container bs-container">
        <div class="row">
            <div class="bs-section">
                <div id="message-holder">
                    <div th:if="${feedbackMessage}"
                         th:class="'messageblock hidden'"
                         th:text="${feedbackMessage}"></div>
                </div>

                <div id="grid-table">
                    <table class="table table-striped">
                        <tr>
                            <th>Nombre</th>
                            <th>Dirección</th>
                            <th>Representante</th>
                            <th>Página web</th>
                            <th>Cantón</th>
                            <th>Tipo Establecimiento</th>
                            <th>Ver</th>
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                        <tr th:each="estab : ${establecimientos}"  th:with="canton= ${cantones[estab.canton - 1]},tipoEst= ${tipoEstablecimiento[estab.tipoEstablecimiento - 1]}">
                            <td th:text="${estab.estNombre}">Nombre</td>
                            <td th:text="${estab.estDireccion}">Dirección</td>
                            <td th:text="${estab.estRepresentante}">Representante</td>
                            <td th:text="${estab.estPagina}">Página</td>
                            <td th:text="${canton.cntNombre}"></td>
                            <td th:text="${tipoEst.tipoEstNombre}"></td>
                            <td ><a th:href="${'/vinculaciontungurahua-0.0.1-SNAPSHOT/establecimiento/'+ estab.estId}">Ver</a></td>
                            <td ><a th:href="${'/vinculaciontungurahua-0.0.1-SNAPSHOT/establecimiento/update/'+ estab.estId}">Editar</a></td>
                            <td ><a th:href="${'/vinculaciontungurahua-0.0.1-SNAPSHOT/establecimiento/delete/'+ estab.estId}">Eliminar</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <br/>
            <div class="form-actions col-md-offset-3 col-sm-offset-2 pull-right">
                <a th:href="@{'/establecimiento/new/'}" text="Agregar nuevo establecimiento" href="establecimientoform.html"
                   class="btn btn-success">Agregar nuevo establecimiento</a>
            </div>
        </div>
    </div>

</body>
</html>