<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Buscar</title>
    <!-- iCheck -->
    <link th:href="@{/css/green.css}" rel="stylesheet"/>
    <!-- Datatables -->
    <link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/buttons.bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/fixedHeader.bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/responsive.bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/scroller.bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/custom.min.css}" rel="stylesheet"/>

</head>
<body onload="$('input[name=estNombre]').focus();">

<div class="container">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1 text="Buscar establecimiento">Buscar establecimiento</h1>
                <p class="lead">Buscar establecimiento</p>
            </div>
    </div>
</div>
</div>
<div class="container bs-container">
    <div class="row">
        <div class="bs-section">
            <form th:object="${establecimiento}" action="/establecimientos/list.html" th:action="@{/establecimientos/list}" method="get"
                  class="form-horizontal" id="search-owner-form">
                <table class="table table-striped">
                    <tr th:classappend="${#fields.hasErrors('estNombre')} ? 'has-error'">
                        <td class="col-sm-1">
                            <div class="control-group" th:classappend="${#fields.hasErrors('estNombre')} ? 'error'">
                                <label class="control-label">Nombre del establecimiento</label>
                            </div>
                        </td>
                        <td class="col-sm-2">
                            <div class="controls">
                                <input type="text" class="form-control" th:field="*{estNombre}" name="estNombre" size="30"
                                       maxlength="80" />
                            </div>
                            <div class="controls" th:if="${#fields.hasErrors('estNombre')}">
                                <h4><span class="label label-danger" th:errors="*{estNombre}">[Errors]</span></h4>
                            </div>
                        </td>
                    </tr>
                    <tr th:classappend="${#fields.hasErrors('estRepresentante')} ? 'has-error'">
                        <td class="col-sm-1">
                            <div class="control-group" th:classappend="${#fields.hasErrors('estRepresentante')} ? 'error'">
                                <label class="control-label">Nombre del Representante</label>
                            </div>
                        </td>
                        <td class="col-sm-2">
                            <div class="controls">
                                <input type="text" class="form-control" th:field="*{estRepresentante}" name="estRepresentante"
                                       size="30" maxlength="80" />
                            </div>
                            <div class="controls" th:if="${#fields.hasErrors('estRepresentante')}">
                                <h4><span class="label label-danger" th:errors="*{estRepresentante}">[Errors]</span></h4>
                            </div>
                        </td>
                    </tr>
                    <tr th:classappend="${#fields.hasErrors('canton')} ? 'has-error'">
                        <td>
                            <div class="control-group" th:classappend="${#fields.hasErrors('canton')} ? 'error'">
                                <label class="control-label">Cantón</label>
                            </div>
                        </td>
                        <td>
                            <div class="controls">
                                <select th:field="*{canton}">
                                    <option th:each="canton: ${cantones}" th:value="${canton.cntId}" th:text="${canton.cntNombre}"></option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr th:classappend="${#fields.hasErrors('tipoEstablecimiento')} ? 'has-error'">
                        <td>
                            <div class="control-group" th:classappend="${#fields.hasErrors('tipoEstablecimiento')} ? 'error'">
                                <label class="control-label">Tipo de establecimiento</label>
                            </div>
                        </td>
                        <td>
                            <div class="controls">
                                <select th:field="*{tipoEstablecimiento}">
                                    <option th:each="tipoEst: ${tipoEstablecimiento}" th:value="${tipoEst.tipoEstId}" th:text="${tipoEst.tipoEstNombre}"></option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <div class="form-actions pull-right">
                                <button type="submit" class="btn btn-success">Buscar</button>
                            </div>
                        </td>
                        <td>
                            <div class="form-actions pull-right">
                                <button type="button" th:onclick="'window.location.href=\'' + @{|/establecimientos/|} + '\''"
                                        class="btn btn-success">Cancelar</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>